.ddb-textfield__container {
  width: 100%;
}

.ddb-textfield__icon {
  display: block;
  margin-right: space(5);
  width: 20px;
  height: 18px;
  color: color("red");
}

.ddb-textfield__action {
  display: flex;
  flex-direction: row-reverse;
}

.ddb-textfield__error {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: color("red");
  height: space(7);
}

.ddb-textfield__input {
  background: color("white");
  width: 100%;
  box-sizing: border-box;
  display: block;
  border-radius: $border-radius;
  padding: space(6) space(5) space(5);
  font-size: 14px; //inherited from existing ddb site.

  &:focus {
    box-shadow: 0 0 space(3) color("grey", "medium");
  }

  &--error,
  &--error:focus {
    box-shadow: 0 0 0 2px color("red");
  }
}

.ddb-textfield__label {
  margin-bottom: space(3);
  &--hidden {
    display: none;
  }
}
