.ddb-list-item {
  background: color("grey", "light");
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: layout(1);
  min-height: layout(7);

  @include sm {
    flex-direction: row;
    padding: layout(2);
  }

  @include md {
    padding: layout(3);
  }

  &:nth-child(even) {
    background: color("white");
  }

  &__children {
    display: flex;
    width: 100%;
    flex: 1;
  }

  &__aside {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    @include sm {
      flex-direction: column;
      justify-content: flex-start;
    }
  }
}
