{
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-class-properties",
    "lodash"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false, // Ensures ES modules are not transpiled to CommonJS
        "useBuiltIns": "usage",
        "corejs": {
          "version": 3,
          "proposals": true
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "production": {
      "plugins": [
        "lodash" // Retain Lodash plugin for additional optimization
      ]
    },
    "test": {
      "presets": [
        [
          "@babel/preset-env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ],
      "plugins": ["istanbul"]
    }
  }
}
