{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "settings": {
    "react": {
      "version": "16.11.0"
    }
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "ecmaFeatures": {
      "jsx": true,
      "globalReturn": false
    }
  },
  "rules": {
    "import/no-extraneous-dependencies": [
        "error",
        {
          "devDependencies": [
            "/**/*.dev.jsx"
          ]
        }
      ]
  }
}
