{
  "extends": "@istanbuljs/nyc-config-typescript",
  "include": "src/",
  "exclude": [
    "src/core/cover-service-api/**/*.*",
    "src/core/dbc-gateway/**/*.*",
    "src/core/fbs/**/*.*",
    "src/core/material-list-api/**/*.*"
  ]
}
