version: '3.7'
services:
  node:
    image: node:12.13.0-alpine
    user: node
    init: true
    working_dir: /home/node/app
    volumes:
      - root:/home/node/app
    expose:
      - 80
    command: 'yarn dev'
    environment:
      VIRTUAL_HOST: dpl-react.docker
      VIRTUAL_PORT: 80
      STORYBOOK_CLIENT_ID: bdc1d425-9117-4867-acb9-c7307ddc2e0f
volumes:
  root:
    driver_opts:
      type: none
      device: $PWD
      o: bind
