version: '3'
services:
  node:
    environment:
      CHOKIDAR_USEPOLLING: 1

volumes:
  root:
    driver: local
    driver_opts:
      type: nfs
      o: addr=host.docker.internal,rw,nolock,hard,nointr,nfsvers=3
      device: ":${PWD}"
