.wayfinder {
  &-iframe {
    width: 100%;
  }
  &-button {
    position: absolute;
    left: -24px;
    top: 2px
  }
}

//Override custom styles
.wayfinder {
  .modal-show {
    //padding: 0;
    padding: 70px;
  }
}
