.ddb-list {
  &__cover {
    display: flex;
    margin: 0;
    margin-right: layout(1);
    width: 100px;
    @include sm {
      margin-right: layout(2);
    }
    @include md {
      margin-right: layout(3);
    }
  }
  &__content {
    display: flex;
    width: 100%;
    line-break: auto;
    p {
      margin: 0;
    }
    h2 {
      font-size: space(5);
      margin: space(3) 0;
    }
  }
  &__item {
    a {
      color: color("primary");
      text-decoration: none;
      h2 {
        color: color("charcoal");
      }
      &:hover {
        color: color("charcoal");
      }
    }
    background: color("grey");
    list-style: none;
    padding: layout(1);
    @include sm {
      padding: layout(2);
    }
    @include md {
      padding: layout(3);
    }
    &:nth-child(even) {
      background: color("white");
    }
  }
  &__data {
    display: flex;
    flex-direction: column;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include sm {
      flex-direction: row;
    }
  }
  &__button {
    display: flex;
    justify-content: flex-end;
    button {
      min-width: 103px;
    }
    @include sm {
      align-self: baseline;
    }
  }
}
