$ddb-list-spacing: layout(1);

@include sm {
  $ddb-list-spacing: layout(2);
}
@include md {
  $ddb-list-spacing: layout(3);
}

.ddb-list {
  &-cover {
    display: flex;
    margin: 0;
    margin-right: $ddb-list-spacing;
    width: 100px;
  }
  &-item {
    background: color("grey");
    list-style: none;
    padding: $ddb-list-spacing;
    &:nth-child(even) {
      background: color("white");
    }
  }
  &-data {
    display: flex;
    flex-direction: column;
  }
  &-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include sm {
      flex-direction: row;
    }
  }
  &-content {
    display: flex;
    width: 100%;
    line-break: auto;
    p {
      margin: 0;
    }
    h2 {
      font-size: space(5);
      margin: space(3) 0;
    }
  }
  &-button {
    display: flex;
    justify-content: flex-end;
    button {
      min-width: 103px;
    }
    @include sm {
      align-self: baseline;
    }
  }
}
