@keyframes dpl-skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.dpl-skeleton {
  display: block;
  background-color: color("grey", "medium");
  animation: dpl-skeleton duration("slow", 2) easing("standard", "expressive")
    infinite;

  &-wrapper {
    li {
      list-style: none;
    }
  }
}
