@keyframes ddb-skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.ddb-skeleton {
  display: block;
  background-color: #cbcbcb;
  animation: ddb-skeleton duration("slow", 2) easing("standard", "expressive")
    infinite;

  &-wrapper {
    li {
      list-style: none;
    }
  }
}
