@keyframes ddb-skeleton {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.ddb-skeleton {
  display: block;
  background-color: #cbcbcb;
  animation: ddb-skeleton 1.5s ease-in-out infinite;
}
