.ddb-searchlist {
  &__container {
    width: auto;
    padding: layout(2);
  }

  &__children {
    flex-direction: column;
  }

  &__new-button {
    margin: 0 space(4) 0 0;
    @include sm {
      margin: 0 0 space(4) 0;
    }
  }

  &__header {
    margin: 0 0 space(2);
  }

  &__query {
    color: rgba(color("text"), 0.8);
    margin: 0 0 space(4);
  }

  &__status {
    margin: 0 0 space(5);
  }

  &__materials {
    margin-top: layout(3);
    height: 220px;
  }

  &__item {
    padding: 0;
  }

  &__scroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }
    @include sm {
      scrollbar-width: auto;
      scrollbar-color: color("grey", "darker") color("grey");
      &::-webkit-scrollbar {
        width: 1em;
      }
      &::-webkit-scrollbar-track {
        background: color("grey");
      }
      &::-webkit-scrollbar-thumb {
        background-color: color("grey", "darker");
      }
    }
  }
}
