.ddb-searchlist {
  &__header {
    margin: 0 0 space(2);
    line-height: 1;
    a {
      position: relative;
      text-decoration: none;
      color: color("grey", "darker");
      transition: color duration("fast", 2) easing();
      &:hover {
        color: color("grey", "dark");
      }
    }
  }
}
