.ddb-simple-material {
  display: flex;
  &__cover {
    display: flex;
    margin: 0;
    margin-right: layout(1);
    width: 100px;
    @include sm {
      margin-right: layout(2);
    }
    @include md {
      margin-right: layout(3);
    }
  }
  &__cover a img {
    height: auto;
    width: 100%;
  }
  &__data {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    height: 100%;
    a {
      text-decoration: none;
    }
    p {
      margin: 0;
    }
  }
  &__title {
    font-size: space(5);
    margin: space(3) 0;
    color: color("charcoal");
    min-height: 85px;
    &:hover {
      color: color("charcoal");
    }
  }
  &__author-year {
    color: rgba(color("text"), 0.5);
  }
}
.ddb-simple-material-skeleton {
  display: flex;
}
