.ddb-alert {
  display: block;
  height: 100%;
  background-color: color("grey");
  color: color("grey", "dark");
  padding: space();
  text-align: center;
  border-radius: $border-radius;

  &--success {
    background-color: color("green");
    color: color("black");
  }

  &--warning {
    background-color: color("yellow");
    color: color("black");
  }
}
