.ddb-alert {
  display: block;
  height: 100%;
  padding: space();
  text-align: center;
  border-radius: $border-radius;

  &--blank {
    display: block;
    height: auto;
    padding: 0;
    text-align: left;
    border-radius: 0;
  }

  &--info {
    background-color: color("grey");
    color: color("grey", "dark");
  }

  &--success {
    background-color: color("green");
    color: color("white");
  }

  &--warning {
    background-color: color("yellow");
    color: color("white");
  }
}
