.ddb-btn {
  border-radius: $border-radius;
  text-align: center;
  cursor: pointer;
  font-family: inherit;
  font-size: space(5);
  padding: space(5) space(6);
  transition: background duration("fast", 2) easing();

  &:focus {
    outline: 2px solid color("grey", "dark");
    outline-offset: 1px;
  }

  &--grey {
    background: color("grey");
    color: color("text", "standard");
    &:hover,
    &:active {
      background: color("grey", "dark");
      color: color("white");
    }
  }

  &--black {
    background: color("black");
    color: color("white");
    &:hover {
      background: color("grey", "dark");
      color: color("white");
    }
  }

  &--secondary {
    &:hover {
      background: color("secondary");
      color: color("secondary", text);
    }
  }

  &--charcoal {
    background: color("charcoal");
    color: color("white");

    &:hover {
      background: color("grey", "dark");
      color: color("white");
    }
  }
}
