.ddb-btn {
  display: block;
  -webkit-appearance: none;
  border-radius: $border-radius;
  text-align: center;
  font-size: 16px; //inherited from existing ddb site.
  width: auto;
  max-width: 260px;
  padding: 20px 20px 14px 15px;
  box-sizing: border-box;
  line-height: 20px;
  cursor: pointer;
  transition: background duration("fast", 2) easing();

  @include sm {
    width: 100%;
    padding: 20px 80px 14px 15px; //Inherited from existing ddb site.
  }

  &:focus {
    outline: 2px solid color("grey", "dark");
    outline-offset: 0px;
  }

  &--align-left {
    text-align: left;
  }

  &--align-center {
    text-align: center;
    padding: 20px 20px 14px 15px;
  }

  &--align-right {
    text-align: right;
  }

  &--blank {
    background: transparent;
    padding: 0;
    &:hover,
    &:active {
      background: transparent;
    }
  }

  &--grey {
    background: color("grey");
    color: color("text", "standard");
    &:hover,
    &:active {
      background: color("grey", "dark");
      color: color("white");
    }
  }

  &--black {
    background: color("black");
    color: color("white");
    &:hover {
      background: color("grey", "dark");
      color: color("white");
    }
  }

  &--secondary {
    &:hover {
      background: color("secondary");
      color: color("secondary", text);
    }
  }

  &--charcoal {
    background: color("charcoal");
    color: color("white");

    &:hover {
      background: color("grey", "dark");
      color: color("white");
    }
  }
}

.ddb-btn__label {
  display: none;
}
