.ddb-btn {
  @extend .ddb-reset;

  background: color("grey");
  border-radius: 5px;
  color: color("charcoal", "opacity-dark");
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  padding: 20px 15px 14px;

  &:hover {
    color: color("charcoal");
  }

  &--secondary {
    &:hover {
      background: color("secondary");
      color: color("secondary", text);
    }
  }

  &--charcoal {
    background: color("charcoal");
    color: color("white");

    &:hover {
      background: color("grey", "dark");
      color: color("white");
    }
  }
}
