$color-green: #24d273;
$color-red: #e22045;
$color-yellow: #ffca5f;

$theme-colors: (
  "primary": (
    "base": #4d898e,
    "text": #fffff1
  ),
  "secondary": (
    "base": #f66d70,
    "text": #fffff2
  ),
  "black": (
    "base": #000,
    "overlay": rgba(0, 0, 0, 0.8),
    "overlay-dark": rgba(0, 0, 0, 0.9)
  ),
  "charcoal": (
    "base": #262626,
    "opacity-dark": rgba(38, 38, 38, 0.8),
    "opacity-light": rgba(38, 38, 38, 0.2)
  ),
  "white": (
    "base": #fff,
    "opacity-dark": rgba(255, 255, 255, 0.54),
    "opacity-light": rgba(255, 255, 255, 0.2)
  ),
  "grey": (
    "base": #e5e5e5,
    "light": #f1f2f2,
    "medium": #ccc,
    "dark": #808285,
    "darker": #505050
  ),
  "green": (
    "base": $color-green,
    "text": darken($color-green, 10)
  ),
  "red": (
    "base": $color-red,
    "text": $color-red
  ),
  "yellow": (
    "base": $color-yellow,
    "text": darken($color-yellow, 15)
  ),
  "text": (
    "base": #262627,
    "standard": #474747
  ),
  "link": (
    "base": #4d898f,
    "dark": #4d898d
  )
);

@function color($key: "primary", $variant: "base") {
  $map: map-get($theme-colors, $key);
  @return map-get($map, $variant);
}
