@mixin mark {
	position: absolute;
	border-radius: $borderRadius;
}

$widthOfClockElements: 4px;
$markIndent: 2px;
$markPlacement: $widthOfClockElements / 2px;
$borderRadius: 10px;

.dpl-clock-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.dpl-clock-container__capitalize-text {
	max-width: 80px;
	display: block;
	text-align: center;
	margin-top: 20px;

	&::first-letter {
		text-transform: capitalize;
	}
}

.dpl-clock-container__clock {
	position: relative;
	border-radius: 50%;
	border: $widthOfClockElements solid black;
	box-sizing: border-box;
	width: 100px;
	height: 100px;

	* {
		background-color: black;
	}
}

.dpl-clock-container__mark-12 {
	@include mark;
	width: $widthOfClockElements;
	height: $widthOfClockElements * 2;
	left: calc(50% - #{$markPlacement}px);
	top: $markIndent;
}

.dpl-clock-container__mark-3 {
	@include mark;
	width: $widthOfClockElements * 2;
	height: $widthOfClockElements;
	right: $markIndent;
	top: calc(50% - #{$markPlacement}px);
}

.dpl-clock-container__mark-6 {
	@include mark;
	width: $widthOfClockElements;
	height: $widthOfClockElements * 2;
	left: calc(50% - #{$markPlacement}px);
	bottom: $markIndent;
}

.dpl-clock-container__mark-9 {
	@include mark;
	width: $widthOfClockElements * 2;
	height: $widthOfClockElements;
	left: $markIndent;
	top: calc(50% - #{$markPlacement}px);
}

.dpl-clock-container__needle {
	height: $widthOfClockElements;
	position: absolute;
	width: 30%;
	transform-origin: 0;
	top: calc(50% - #{$markPlacement}px);
	left: 50%;
	border-top-right-radius: $borderRadius;
	border-bottom-right-radius: $borderRadius;
}

@media screen and (prefers-reduced-motion: reduce) {
	.dpl-clock-container__needle {
		animation: none !important;
	}
}