.ddb-dialog {
  background: color("grey");
  border-radius: $border-radius;
  color: color("charcoal", "opacity-dark");
  padding: layout(1);
}

.ddb-dialog__close-button {
  background: color("grey", "darker");
}
