.dpl-related-materials {
  position: relative;
  max-width: 1310px;
  min-height: 200px;
  background: color("grey");
  padding: space(5) 0;
  @include sm {
    padding-bottom: 0;
  }
}

.dpl-related-materials__title {
  margin-left: space(5);
}

.dpl-related-materials__search {
  text-decoration: none;
  color: inherit;
  margin-left: space(5);
  &:hover,
  &:focus {
    text-decoration: underline;
  }
  @include sm {
    position: absolute;
    top: 0;
    right: 0;
    margin-left: 0;
    margin-top: space(5);
    margin-right: space(5);
    text-align: right;
  }
}

.dpl-related-materials__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.dpl-related-material {
  display: flex;
  height: 210px;
  width: 147px;
  margin: space(5);
  overflow: hidden;
  border-radius: $border-radius;
  &:focus {
    outline: 2px solid color("grey", "dark");
    outline-offset: 2px;
  }

  @include md {
    height: 330px;
    width: 230px;
  }

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all duration("moderate", 2) easing("standard", "expressive");
    background: color("grey", "medium");
  }
  &--finished {
    img {
      opacity: 1;
    }
  }
  &:hover img {
    transform: scale(1.1);
  }
}
