.header {
  &__profile-traslation-container {
    display: flex;
    width: auto;
    justify-content: space-between;
  }

  &__translations {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    cursor: initial;
    position: relative;
    border-right: 1px solid #dbdbdb;;
  }

  &__translations-wrapper.header__button {
    width: auto;
    padding: 0 20px;
  }

  &__translations-button {
    line-height: 1;
    text-align: center;
    align-self: flex-end;
    padding-bottom: 5px;
  }

  &__translations-label {
    white-space: nowrap;
  }

  &__translations-icon {
    margin: 0 auto 7px;
    width: 24px;
    height: 24px;
  }

  &__translations-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }

  &__menu-navigation-buttons {
    display: flex;
    justify-content: flex-end;
  }
}

@media(max-width: 768px) {
  .header__translations-label {
    display: none;
  }

  .header__translations-button {
    position: relative;
    align-self: center;
    top: 6px;
  }

  .header__profile-traslation-container {
    width: 112px;
  }
}
