name: Build

on:
  push:
  pull_request:

jobs:
  build:
    name: Build artifacts
    if: '!github.event.deleted'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          # Required to fetch all commits and tags
          fetch-depth: 0
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          registry-url: 'https://npm.pkg.github.com'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Build artifacts
        run: |
          yarn build:css:prod
          VERSION_FILE_NAME=$GITHUB_REPOSITORY \
          VERSION_FILE_VERSION=$(git describe --tags --exclude=latest) \
          yarn build:js:prod --json webpack-stats.json
      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: dist
          path: dist
      - name: Send webpack stats to RelativeCI
        uses: relative-ci/agent-action@v3
        with:
          key: ${{ secrets.RELATIVE_CI_KEY }}
          token: ${{ secrets.GITHUB_TOKEN }}
          webpackStatsFile: ./webpack-stats.json
