name: GitHub pages

on:
  push:
    branches:
    - develop

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Setup Node
      uses: actions/setup-node@v5
      with:
        node-version-file: '.nvmrc'
        cache: 'yarn'
        registry-url: 'https://npm.pkg.github.com'
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - run: yarn install --frozen-lockfile

    - run: yarn build:storybook
      env:
        STORYBOOK_CLIENT_ID: ${{ secrets.STORYBOOK_CLIENT_ID }}

    - name: Deploy
      uses: peaceiris/actions-gh-pages@v4
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dev
