name: Integration test

on: [push, pull_request]

jobs:
  integration:
    name: Integration test
    if: '!github.event.deleted'
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Copenhagen
    strategy:
      # When one test fails, DO NOT cancel the other containers, because this
      # will kill Cypress processes leaving Cypress Cloud hanging.
      # https://github.com/cypress-io/github-action/issues/48
      fail-fast: false
      matrix:
        # Run 3 copies of the current job in parallel
        containers: [1, 2, 3]
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          registry-url: 'https://npm.pkg.github.com'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Cypress run
        uses: cypress-io/github-action@v7
        with:
          install: false
          start: yarn start:storybook:test
          wait-on: 'http://localhost:57021'
          browser: chrome
          group: 'Integration tests'
          parallel: true
          record: true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Upload screenshots
        uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: cypress-screenshots-${{ matrix.containers }}
          path: cypress/screenshots
      - name: Upload videos
        uses: actions/upload-artifact@v6
        if: always()
        with:
          name: cypress-videos-${{ matrix.containers }}
          path: cypress/videos
      - run: mkdir -p .nyc_output
      - name: Generate code coverage report
        run: yarn run nyc report --reporter=clover --reporter=text --report-dir=./coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage/
          flags: integration
          fail_ci_if_error: false

  unit:
    name: Unit test
    if: '!github.event.deleted'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version-file: '.nvmrc'
          cache: 'yarn'
          registry-url: 'https://npm.pkg.github.com'
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Run unit tests
        run: yarn test:unit

